* {
    box-sizing: unset;
}

body {
    background-color: dimgray;
}

.main-content {
    display: flex;
    justify-content: center; /* horizontal */
    align-items: center;     /* vertical */
    height: 100vh;           /* full viewport height */
    flex-direction: column;  /* Make the child component change flex direction */
}

.main-content > button {
    padding: 1em 2em;
    font-size: 1.2em;
    margin: 1em;
    width: 200px;
}

#saved-list > .save-box {
    font-size: 18px;
    color: white;
    border: 1px solid white;
    margin: 1em 0 1em 0;
    padding: 1em;
    width: 600px;
    transition: transform 0.3s ease;
}

.save-box:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.game-scene {
    display: flex;
    align-items: center;     /* vertical */
    height: 100vh;           /* full viewport height */
    flex-direction: column;  /* Make the child component change flex direction */
}

.main-scene {
    border: 1px solid white;
    width: 95%;
    height: 85vh;
    margin-bottom: 2em;
}

.dungeon {
    display: grid;
    grid-template-columns: repeat(30, 10px); /* Adjust to dungeon width */
    grid-template-rows: auto;
    gap: 0px;
}

.tile {
  font-family: monospace;
  font-size: 20px;
}